// Grand Central Station

@import 'google-homepage';

// Letter Backgrounds
$bg0: '../img/art_Deco.jpg';
$bg1: '../img/banksy.jpg';
$bg2: '../img/boccioni_Charge.jpg';
$bg3: '../img/mediums.jpg';
$bg4: '../img/mosaique.jpg';
$bg5: '../img/stary_Night.jpg';

.bg0{
    background: url($bg0);
}
.bg1{
    background: url($bg1);
}
.bg2{
    background: url($bg2);
}
.bg3{
    background: url($bg3);
}
.bg4{
    background: url($bg4);
}
.bg5{
    background: url($bg5);
}

// SVG FIRST FRAME
svg{
    transform: scale(1);
    opacity: .2;
    
    transition:
        opacity .3s,
}
// Google FIRST FRAMES
#g {
    fill:blue;
    transition:
        fill .3s,
}

#fo {
    fill:red;
    transition:
        fill .3s,
}

#so {
    fill:yellow;
    transition:
        fill .3s,
}

#sg {
    fill:blue;
    transition:
        fill .3s,
}

#l {
    fill:green;
    transition:
        fill .3s,
}

#e {
    fill:red;
    transition:
        fill .3s,
}

// SVG LAST FRAME
svg:hover {
    opacity: 1;
}

// Google LAST FRAME
#g:hover {
    fill:black;
}

#fo:hover {
    fill:black;
}

#so:hover {
    fill:black;
}

#sg:hover {
    fill:black;
}

#l:hover {
    fill:black;
}

#e:hover {
    fill:black;
}


